@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes spin {
  to { transform: rotate(360deg); }
}

/* Hide scrollbar universally */
::-webkit-scrollbar {
  display: none;
}

* {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}